## Dataframe

In [2]:
import pandas as pd
df = pd.read_csv("populations.csv")
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### .head(x)

Για μια γρήγορα ματιά στο dataframe χρησιμοποιούμε τo df.head(x) όπου x είναι ο αριθμός των γραμμών που θέλουν να τυπωθούν

In [ ]:
df.head(5)

### .loc

Για να επιστρέψουμε συγκεκριμένη σειρά του dataframe αρκεί να χρησιμοποιήσουμε τη df.loc[x] όπου x o αριθμός της σειράς ξεκινώντας από το 0

In [ ]:
dt = df.loc[3]

In [ ]:
df.loc[:3]

In [ ]:
df.loc[[0,5,10,20]]

In [ ]:
df.shape

### last 5 rows

In [ ]:
rows = df.shape[0]
df.loc[rows-5:]

In [ ]:
df.tail(5)

### Στήλες

In [ ]:
df['country']

In [ ]:
df[['country', 'pop']]

In [ ]:
df.columns

In [ ]:
df.columns.tolist()

### Πράξεις

In [ ]:
pop = df['pop']/1000
pop

In [ ]:
df['pop']

In [ ]:
city_country = df['city'] + '-' +  df['country']
city_country

### max, min, sum, mean

In [ ]:
print(df['pop'].max())
print(df['pop'].min())
print(df['pop'].sum())
print(df['pop'].mean())

### sorting

In [ ]:
df.sort_values('pop',ascending=True)

### NaN everywhere!!!

Όταν μία τιμή λείπει από τα δεδομένα μας, η pandas τη δηλώνει ως NaN για να μας διευκολύνει. Οπότε κάτι πρέπει να κάνουμε με αυτές τις τιμές :(

In [ ]:
df = pd.read_csv("titanic.csv")

In [ ]:
df.head(5)

In [ ]:
body_has_nulls = pd.isnull(df['body'])

In [ ]:
body_has_nulls[:5]

In [ ]:
body_nulls = df['body'][body_has_nulls]
body_nulls[:5]

In [ ]:
df.shape

In [ ]:
print(len(pd.isnull(df['Age'])))
age_mean = df['Age'].mean()
df['Age'] = df['Age'].fillna(age_mean)
print(len(pd.isnull(df['Age'])))

In [ ]:
print(len(pd.isnull(df['fare'])))
df['fare'] = df['fare'].fillna(df['fare'].median())
print(len(pd.isnull(df['fare'])))

### Reset index after drop

In [ ]:
df = df.reset_index(drop=True)
df

### pivot table
By default επιστρέφει τη μέση τιμή της στήλης

In [ ]:
df.pivot_table(index="pclass", values="survived")

In [ ]:
import numpy as np
df.pivot_table(index="embarked", values=["fare","survived"], aggfunc=np.sum)

### Apply

Πολλές φορές χρειάζεται να εφαρμώσουμε περισσότερες των μία πράξεων στις στήλες. Σε αυτό βοηθάει η εντολή apply

In [ ]:
df['ageSQRT'] = df['age'].apply(np.sqrt)
df.head(5)

In [ ]:
df['powFare'] = df['fare'].apply(lambda x: x**2)
df.head(5)

Προσθέτοντας την παράμετρο axis=1 μπορούμε να εφαρμώσουμε την apply ανά σειρά

In [ ]:
def is_a_baby(row):
    if row["age"] < 5:
        return 1
    else:
        return 0

df['isBaby'] = df.apply(is_a_baby, axis=1)
df.head(5)

In [ ]:
df[df['sex'] == 'female']

### Μοναδικές τιμές

In [ ]:
df['embarked'].unique()

### A summary of columns

In [ ]:
df[['age','parch']].describe()

In [ ]:
del df['pclass']

In [ ]:
df.dtypes

In [ ]:
df.info()

### Άσκηση

1. Να διαβάσετε το αρχείο nba-players.csv
2. Να μετατρέψετε τη στήλη Height από inches σε cm
3. Να μετατρέψετε τη στήλη Weight από lbs σε kg
4. Να υπολογίσετε τον δείκτη μάζας (weight/height^2)*10000

,Name,Height (Inches),Weight,BMI,Height (cm),Weight (kg)
0,Quincy Acy,79,233,26.040350,200.66,104.85
1,Steven Adams,84,250,24.713060,213.36,112.50
2,Jeff Adrien,79,243,27.157962,200.66,109.35
3,Arron Afflalo,77,215,25.293102,195.58,96.75
4,Alexis Ajinca,84,220,21.747492,213.36,99.00

### Pandas Profiling. A great (not-so-popular) package!

Πρώτα πρέπει να κάνουμε εγκατάσταση το pandas-profiling package που δεν είναι by default μέσα στο environment μας. (sudo conda install pandas-profiling)

In [ ]:
import pandas_profiling

In [ ]:
df = pd.read_csv("titanic.csv")

In [ ]:
pfr = pandas_profiling.ProfileReport(df)
pfr.to_file("report.html")